body {
	background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url(../images/background.jpg);
} 

nav {
	font-weight: 700;
}

.mt-20 {
	margin-top: 20px;
}

footer>.container, footer .row {
	height: 70px;
	margin: 80px auto 0px;
}


.about-us-footer {
	height: 70px;
	margin: -70px auto 0px;
}

.contact-footer {
	height: 70px;
	margin: 90px auto 0px;
}

.admin-footer {
	height: 70px;
	margin: 160px auto 0px; 
}

.page-wrapper{
	margin: 50px auto;
	padding: 20px 15px;
	box-shadow: 0 0 10px #ccc;
	border-radius: 10px;
}

.page-wrapper h1{
	text-align: center;
	margin-bottom: 20px; 
	background-image:linear-gradient(rgba(185, 185, 185, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255,0.4), rgba(185, 185, 185, 0.4));
	background-size: cover;
	padding: 15px;
}

.card-block{
	padding: 15px;
}

.w100{
	width: 100%;
}

.w60{
	width: 60%;
}

.w30{
	width: 30%;
}

.w20{
	width: 20%;
}

.w10{
	width: 10%;
}

.w5{
	width: 5%;
}

.articles{
	margin-top: 15px;

}

.article-inline{
	padding-left: 10px;
	flex-wrap: wrap;
}

.article-inline:nth-of-type(odd){
	background: rgba(0,0,0,0.03);
}

.sight-container{
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 0 0 10px #ccc;
	padding: 15px 50px;
}

.sight-container h1{
	text-align: center;
}

.sight-container img{
	width: 100%;
}

.sight-container .date{
	font-weight: bold;
} 

.map {
	height: 600px;
}

.login-container{
	margin-top: 50px;
	padding: 20px 15px 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px #ccc;
}

.login-container h1{
	text-align: center;
	margin-bottom: 20px;
	background-image:linear-gradient(rgba(185, 185, 185, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255,0.4), rgba(185, 185, 185, 0.4));
	background-size: cover;
	padding: 15px;
}

.contact-us-form{
	background-image:linear-gradient(rgba(160, 160, 160, 0.2),rgba(160, 160, 160, 0.2));
	/* background-image: linear-gradient(rgba(170, 170, 170, 0.5),rgba(170,170,170,0.5)), url("../images/background-1.jpg"); */
	background-size: cover;
	border-radius: 20px;
	width: 400px;
	padding: 20px;
	/* margin-top: 5px; */
	margin: 10px auto;
}

#myTabContent{
	margin-top: 20px;
}

h1 {
	padding: 20px;
	text-align: center;
}

.about-us {
	margin-top: 5px;
}